/* announcement-bar */
.header-4-announcement-bar{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.select-selected, .select-items.select-hide{
    display: none;
}

.color-transparent .header-4-announcement-bar{
    background-color: transparent;
}

.header-4-announcement-bar p{
    margin: 0;
}

.header-categories{
    padding: 15px 15px;
}

.header-4 .search-media{
    display: none;
}

.header-4 .form-search{
    opacity: 1;
    visibility: visible;
    position: unset;
}

.header-search{
    align-self: center;
}


.header-4 .icon-search .field__button{
    border-radius: 30px;
    background-color: transparent;
    color: #000;
    right: 0;
    left: unset;
}

.header-4 .field__label{
    left: 2.5rem;
    font-weight: 400;
    font-size: 13px;
    line-height: 26px;
    color: #666666;
}

.header-4 .icon-search .field__input:focus{
    padding: 0 15px 0 45px;    
}

.header-4 .icon-search .field__input:not(:placeholder-shown){
    padding: 0 15px 0 45px;
}

.header-bottom{
    align-self: center;
}
.header-4 .header-vertical-menu{
    position: relative;
}

.header-4 .icon-vertical-menu{
    border-radius: 30px;

}

.header-4 .vertical-bars{
    width: 100%;
    padding: 10px ;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.header-4 .vertical-bars span{
    padding-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    text-transform: uppercase;
}


.header-4-bottom .nav-vertical{
    position: absolute;
    left: 0;
    top: 100%;
    bottom: unset;
    right: unset;
    display: none!important;
    width: 100%;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 75%);
    background-color: #fff;
}

.header-4-bottom .nav-vertical::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    display: block;
    top: -5px;
    bottom: auto;
    position: absolute;
    left: 30px;
}
.header-4-bottom .nav-vertical.show{
    display: block!important;
}

.header-4-bottom .vertical-bkg{
    background-color: transparent;
}

.header-4-bottom .vertical-menu-close{
    display: none;
}
/* add */
.header-4 .announcement-bar-box{
    justify-content: space-between;
}
.header-4 .header-4-announcement-bar-right{
    display: flex;
    align-items: center;
}
.header-4 .header-4-announcement-bar-right .signin-top{
    display: flex;
}
.header-4 .header-4-announcement-bar-right .block_currencies{
    padding: 0px 10px;
}
.header-4 .announcement-bar-box ul{
    display: flex;
}
.header-4 .announcement-bar-box ul li{
    margin: 0px 10px;
}
.header-4 .announcement-bar-box ul li svg{
    margin-right: 10px;
}
.header-4 .signin-top p a{
    margin: 0px 5px;
    color: #82D175;
}
.header-4 .signin-top p a:hover{
    color: var(--color-base-link-hover);
}
.header-4 .dropdown-toggle::after{
    margin:0;
}
.header-4 .form-search{
    border-radius: 5px;
    background-color: #fff;
}
.header-4 .icon-search .field__input{
    border: none;
}
.header-4 .collection-select-search{
    position: relative;
    padding: 0px 30px;
}
.header-4 .collection-select-search::before{
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 23px;
    border-right: 1px solid #aaa;
}
.header-4 .phone-number{
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.header-4 .phone-number span{
    color: var(--g-main);
    font-weight: 500;
    font-size: 14px;
}
.header-4 .header-4-bottom{
    position: relative;
}
.header-4 .header-4-bottom::before{
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    border-top: 1px solid #e5e5e5;
}
.header-4 .vertical-bars{
    position: relative;
}
.header-4 .vertical-bars::before{
    content: '';
    position:absolute;
    height: 23px;
    top:10px;
    right: 0;
    left: unset;
    border-right: 1px solid #e5e5e5;
}

.header-4 .icon-down svg{
    width: 8px;
}
.header-4 .text-menu{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    justify-content: flex-end;
}
.header-4 .text-menu span{
    color: #E66D6D;
}
.header-4 .text-menu svg{
    margin-right: 10px;
}

.header-4 .header-icon{
    justify-content: space-between;
}
.header-4 .icon-search{
    max-width: 95%;
}
@media (max-width:1500px) {
    .header-4 .announcement-bar-box .header-4-announcement-bar-right ul {
        display: none;
    }
}
@media (max-width:1200px) {
    .header-4-center .head-logo{
        order: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-4-center .header-mobi-mobile{
        order: 1;
    }

    .header-4-center .header-icon{
        order: 2;
        justify-content: flex-end;
    }
}
@media (min-width:992px) and (max-width:1200px) {
    .header-4 .icon-down{
        margin-right: 10px;
    }
}
@media(max-width: 991px){
    .header-4 .form-search{
        display: none;
    }
    .header-4-center .head-logo{
        order: 1;
        text-align: center;
        margin: 0;
    }
    .header-4-center .header-mobi-mobile{
        order: 0;
    }

    .header-4-center .header-icon{
        order: 2;
    }
    .header-4 .phone-number{
        display: none;
    }
    .header-4 .icon-search{
        max-width: 100%;
    }
    .header-4 .vertical-bars:before{
        display: none;
    }
}
@media (max-width:768px) {
    .header-4 .announcement-bar-box ul{
        display: none;
    }
    .header-4 .announcement-bar-box{
        justify-content: center;
    }
}
@media (min-width:1200px) {
    .header-4 .vertical-bars{
        padding: 10px 0px;
    }
}