.product-list{
    padding: 1.5rem 0;
}
.product-list h2{
    text-align: center;
}
.product-list ul li{
    margin-bottom: 1.5rem;
}
.product-list ul{
    padding: 0;
}
.button-content{
    margin-top: 2rem;
}
.product-placeholder{
    position: relative;
}
.product-placeholder h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 3rem;
}

.list-hiden{
    display: none;
}

.placeholder-svg.placeholder{
    margin: 0 10px;
}